.profileDropDown {
  position: absolute;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.1);
  right: 15px;
  top: 75px;
  z-index: 100;
}

.profileDropDown i {
  color: gray;
  margin-right: 2px;
}

.profileDropDown div {
  background-color: white;
  padding: 7px;
  padding-right: 12px;
}

.profileDropDown div:hover {
  background-color: rgb(245, 245, 245);
  cursor: pointer;
}

.navbarLink {
  text-decoration: none;
  color: black;
}

/**** MODAL ***/

.profileDropDownModal {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 10;
}
