.profile {
  margin-top: 9rem;
}

.profileButtons {
  display: flex;
  justify-content: flex-end;
  width: 985px;
  margin: auto;
  margin-bottom: 10px;

  /*  */
}

@media (max-width: 1000px) {
  .profileButtons {
    width: auto;
    /* padding: 25px 30px; */
    /* margin: 10px 10px; */
    /* margin-top: 1rem; */
  }
}
