.home {
  margin-top: 9rem;
}

.home .newPostL {
  text-decoration: none;
}

.contentParent {
  display: flex;
  flex-direction: column-reverse;
}

.postButton {
  display: flex;
  justify-content: flex-end;
  width: 980px;
  margin: auto;
  margin-bottom: 10px;
}

@media (max-width: 1000px) {
  .postButton {
    width: auto;
  }
}
